extends partials/layout.pug
block content
    include partials/start
    include partials/html
    include partials/css
    include partials/js
    include partials/nav
    include partials/lightbox
    include partials/slider
    include partials/contact