<!DOCTYPE html>
<html>
  <head>
    <title>Sylk - The Photographer's Portfolio Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="../../css/core.css">
    <link rel="stylesheet" type="text/css" href="../../css/elements.css">
    <link rel="stylesheet" type="text/css" href="../../css/custom.css">
    <link rel="icon" type="image/png" href="../../favicon.png?version=4">
  </head>
  <body class="no-scroll">
    <div id="wrapper" class="container-fluid">
      <header id="main-header"><a href="../../index.html" class="brand"><span class="name">Lincoln Howard</span><span class="title hidden-xs">Photography</span></a>
        <div class="responsive-nav">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <nav class="main-nav">
          <ul>
            <li><a href="../../pages/homepages/home-unique-scroll.html" class="active">Home</a>
              <ul class="dropdown">
                <li><a href="../../pages/homepages/home-unique-scroll.html">Home - Unique scroll</a>
                </li>
                <li><a href="../../pages/homepages/home-image-stack.html">Home - Image stack</a>
                </li>
                <li><a href="../../pages/homepages/home-fullscreen.html">Home - Fullscreen</a>
                </li>
                <li><a href="../../pages/homepages/home-fullscreen-offset.html">Home - Fullscreen offset</a>
                </li>
                <li><a href="../../pages/homepages/home-fullscreen-border.html">Home - Fullscreen border</a>
                </li>
                <li><a href="../../pages/homepages/home-hero-variant-1.html">Home - Hero variant 1</a>
                </li>
                <li><a href="../../pages/homepages/home-hero-variant-2.html">Home - Hero variant 2</a>
                </li>
                <li><a href="../../pages/homepages/home-sidebar-variant-1.html">Home - Sidebar variant 1</a>
                </li>
                <li><a href="../../pages/homepages/home-sidebar-variant-2.html">Home - Sidebar variant 2</a>
                </li>
              </ul>
            </li>
            <li><a href="../../pages/portfolio/portfolio-unique-scroll.html">Portfolio</a>
              <ul class="dropdown">
                <li><a href="../../pages/portfolio/portfolio-unique-scroll.html">Portfolio - Unique scroll</a>
                </li>
                <li><a href="../../pages/portfolio/portfolio-classic-2-columns.html">Portfolio Classic - 2 columns</a>
                </li>
                <li><a href="../../pages/portfolio/portfolio-classic-3-columns.html">Portfolio Classic - 3 columns</a>
                </li>
                <li><a href="../../pages/portfolio/portfolio-classic-4-columns.html">Portfolio Classic - 4 columns</a>
                </li>
                <li><a href="../../pages/portfolio/portfolio-masonry.html">Portfolio Masonry - 4 columns</a>
                </li>
                <li><a href="../../pages/portfolio/portfolio-wide-photo.html">Portfolio - Wide photo</a>
                </li>
                <li><a href="../../pages/portfolio/portfolio-category-filters.html">Portfolio - Category filters</a>
                </li>
                <li><a href="../../pages/portfolio/portfolio-titan-slider.html">Portfolio - Titan Slider</a>
                </li>
              </ul>
            </li>
            <li><a href="../../pages/about/index.html">About</a>
            </li>
            <li><a href="../../pages/clients/index.html">Clients</a>
            </li>
            <li><a href="../../pages/contact/index.html">Contact</a>
            </li>
          </ul>
        </nav>
      </header>
      <div class="vcenter fs text-center">
        <div class="img-stack"><img src="../../images/home/02.jpg"><img src="../../images/home/03.jpg"></div>
      </div>
    </div>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/functions.js"></script>
  </body>
</html>