extends partials/layout-alt-footer.pug
block content
    .jumbotron.jumbotron-fluid.vh-100.d-flex.align-items-center
        .container-fluid.py-6.text-center
            h6.in-left Error 404
            h1.in-top Page not found
                
               