extends partials/layout.pug
block content
    section
        .container-fluid.py-6 
            h1 
                span.d-block.in-left Projects &mdash; Grid
                span.d-block.in-top A Grid like no other.
        .container-fluid
            .grid
                .grid-sizer.col-1
                +gridItem('Flourish Away',require("./images/preview/thumbs/1.jpg?preset=blur"),'col-6')
                +gridItem('Suit up',require("./images/preview/thumbs/2.jpg?preset=blur"), 'col-3')
                +gridItem('Mix it up',require("./images/preview/thumbs/3.jpg?preset=blur"), 'col-3')
                +gridItem('Next-gen Shoes',require("./images/preview/thumbs/4.jpg?preset=blur"), 'col-3')
                +gridItem('Back to Tapes',require("./images/preview/thumbs/5.jpg?preset=blur"), 'col-3')
                +gridItem('Turn the page',require("./images/preview/thumbs/8.jpg?preset=blur"), 'col-3')
                +gridItem('Wiremore',require("./images/preview/thumbs/10.jpg?preset=blur"), 'col-3')
                +gridItem('Silk White',require("./images/preview/thumbs/11.jpg?preset=blur"), 'col-3')
                +gridItem('Branch X',require("./images/preview/thumbs/12.jpg?preset=blur"), 'col-3')
        .container.my-5.py-6
            .row.justify-content-md-center.text-center
                .col-sm-5
                    h4 An unobstrusive approach
                    p Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.