extends partials/layout.pug
block content
    section.pt-0.border-bottom
        .container.pb-5
            .row.pt-5.vh-50.d-lg-flex.align-items-end.justify-content-end
                .col-sm-6
                    h1.massive.in-left
                        span.d-block Hyper
                        span.d-block Radiant
                .col-sm-5.offset-sm-1.in-top
                    h6 Art direction
                    p We've directed the most influencial brand of this era to ensure it will stay top notch. Many desktop and web page editors now use these predefined phrases.
        img.img-fluid.vw-100(alt="Neoto - Creative Studio Portfolio Template" src = require('./images/preview/slide4.png?preset=blur'))
        .container.py-6
            .row
                .offset-sm-2.col-sm-8
                    h3 A heavenly character
                    p Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose.
                    a.lightbox(href = require("./images/preview/project8.jpg?preset=blur"))
                        img.w-100.img-fluid.mt-5(alt="Neoto - Creative Studio Portfolio Template" src = require("./images/preview/project8.jpg?preset=blur"))
        .container
            .row
                .offset-sm-3.col-sm-6
                    h3 Vibrant in every aspect
                    p Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
        .container
            a.lightbox(href = require("./images/preview/project9.jpg?preset=blur"))
                img.w-100.img-fluid.my-5(alt="Neoto - Creative Studio Portfolio Template" src = require("./images/preview/project9.jpg?preset=blur"))
            .row.py-6
                .offset-sm-3.col-sm-6
                    p Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            .row.pb-5
                .col-sm-6
                    a.lightbox(href = require("./images/preview/project10.jpg?preset=blur"))
                        img.w-100.img-fluid.my-5(alt="Neoto - Creative Studio Portfolio Template" src = require("./images/preview/project10.jpg?preset=blur"))
                .col-sm-6
                    a.lightbox(href = require("./images/preview/project11.jpg?preset=blur"))
                        img.w-100.img-fluid.my-5(alt="Neoto - Creative Studio Portfolio Template" src = require("./images/preview/project11.jpg?preset=blur"))