.container.py-6
    .row.justify-content-md-center
        .col-sm-6
            h4.mb-4 Comment on this post
            form.mb-n5
                .form-group
                    input#name.form-control(type='text', placeholder='John Doe')
                .form-group
                    input#email.form-control(type='email', placeholder='Email')
                .form-group
                    textarea#message.form-control(rows='8' placeholder='Message')
                button.btn.btn-primary(type='submit') Send
.container.py-6
    .row.justify-content-md-center
        .col-sm-6
            h4.mb-4 Comments
            .media
                img.mr-3(src= require('./../images/preview/profile1.png?preset=blur'), alt='...')
                .media-body
                    h6.mt-2 September 4, 2020 at 1.13PM
                    h5.mt-0 Dan Howard
                    p Props to this article! In gravida nulla. Nulla vel metus scelerisque ante sollicitudin. 
                    .media.mt-3
                        img.mr-3(src= require('./../images/preview/profile2.png?preset=blur'), alt='...')
                        .media-body
                            h6.mt-2 November 7, 2020 at 1.37PM
                            h5.mt-0 Stella Anderson
                            p <strong>@Dan Howard</strong> Agreed!
            .media.mt-5
                img.mr-3(src= require('./../images/preview/profile3.png?preset=blur'), alt='...')
                .media-body
                    h6.mt-2 October 15, 2020 at 3.33PM
                    h5.mt-0 Bryan Munich
                    p Seems to be the best yet, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
            .media.mt-5
                img.mr-3(src= require('./../images/preview/profile4.png?preset=blur'), alt='...')
                .media-body
                    h6.mt-2 October 27, 2020 at 7.40AM
                    h5.mt-0 Chris Brandon
                    p I like the part where in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio.