footer.fixed-bottom.alt-footer
    .container-fluid.p-5
        .row
            .col-sm-6.offset-sm-3.copy.text-center 2020 &copy; YourBrand. All rights reserved
            .col-sm-3.text-right
                .social
                    a.trigger(href = '#') Follow
                    ul.social-nav
                        li 
                            a(href = '#') Instagram
                        li 
                            a(href = '#') Twitter
                        li 
                            a(href = '#') Vimeo
                        li 
                            a(href = '#') YouTube
block scripts
    script(src = 'main.bundle.js')