-locals.headerClass = ''
include mixins
doctype html
html(lang="en")
    include head
    body
        include header
        main
            block content
        include footer-alt
        block scripts