@import url("https://fonts.googleapis.com/css?family=Karla:400,700|Work+Sans:800|Inconsolata");

body {
    font-family: "Karla", sans-serif;
    margin: 0;
    padding-bottom: 80px;
    background: #111;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Work Sans", sans-serif;
    font-weight: 800;
    color: #272838;
    margin: 0;
}

h1 {
    font-size: 48px;
    line-height: 68px;
    letter-spacing: -0.6px;
    margin-bottom: 16px;
}

h2 {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.4px;
    margin-top: 32px;
    margin-bottom: 12px;
}

h3 {
    font-size: 26px;
    line-height: 36px;
    letter-spacing: -0.2px;
    margin-top: 32px;
    margin-bottom: 8px;
}

h4 {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.1px;
    margin-top: 32px;
}

h5 {
    font-size: 16px;
    line-height: 22px;
}

h6 {
    font-size: 12px;
    line-height: 16px;
}

p {
    color: #3a3b42;
    font-size: 24px;
    line-height: 38px;
    margin: 16px 0;
}

a {
    color: #000fff;
    border-bottom: 2px solid rgba(0, 15, 255, .32);
    text-decoration: none;
    transition: 200ms border-color ease-in-out, 200ms color ease-in-out;
}

a:hover {
    border-color: #000fff;
}

ul, ol {
    font-size: 24px;
    line-height: 38px;
    color: #3a3b42;
    padding: 0 0 0 22px;
}

.container {
    width: 1140px;
    max-width: 100%;
    margin: 48px auto 0 auto;
    padding: 0 20px;
}

.mark {
    background-color: #eaeaee;
    padding: 2px 8px;
    font-size: 22px;
}

nav {
    position: fixed;
    width: 280px;
 
}

nav ul {
    margin: 0;
    padding: 0;
    line-height: 1;
    list-style: none;
}

nav ul li a, nav ul li span {
    font-size: 18px;
    color: #ffffff;
    border: none;
    transition: 200ms color ease-in-out;
}

nav ul li a:hover, nav ul li span:hover {
    color: #ffffff;
    cursor: pointer;
}

nav ul li.parent {
    margin: 18px 0;
}

nav ul li.parent span, nav ul li.parent a {
    font-size: 20px;
    font-weight: 700;
}

nav ul li.parent span:hover {
    color: #272838;
    cursor: default;
}

nav ul li.parent ul {
    margin-top: 16px;
    margin-bottom: 26px;
}

nav ul li.parent ul li {
    margin: 10px 0;
}

nav ul li.parent ul li a {
    font-size: 18px;
    font-weight: 400;
}

nav ul li.current a, nav ul li.current span {
    color: #000fff;
}

pre code.hljs {
    padding: 20px;
    font-family: Inconsolata;
    font-size: 16px;
    line-height: 1.2;
    background-color: #f8f9fa;
}

main {
    margin-left: 310px;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
}

section {
    margin-bottom: 64px;
}

.screenshot {
    max-width: 100%;
    margin: 24px 0;
}

hr {
    display: block;
    height: 1px;
    border: none;
    border-top: 1px solid #eaeaee;
    margin: 50px 0;
    padding: 0;
}

#introduction .heading h1 {
    display: inline-block;
    margin-top: 0;
}

#introduction .heading .live-preview {
    float: right;
    font-size: 22px;
    margin-top: 20px;
}

::selection {
    color: #fff;
    background: rgb(47,7,67);
}
/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

 code[class*="language-"],
 pre[class*="language-"] {
     color: #ccc;
     background: none;
     font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
     text-align: left;
     white-space: pre;
     word-spacing: normal;
     word-break: normal;
     word-wrap: normal;
     line-height: 1.5;
 
     -moz-tab-size: 4;
     -o-tab-size: 4;
     tab-size: 4;
 
     -webkit-hyphens: none;
     -moz-hyphens: none;
     -ms-hyphens: none;
     hyphens: none;
 
 }
 
 /* Code blocks */
 pre[class*="language-"] {
     padding: 1em;
     margin: .5em 0;
     overflow: auto;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
     background: #2d2d2d;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
     padding: .1em;
     border-radius: .3em;
     white-space: normal;
 }
 
 .token.comment,
 .token.block-comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
     color: #999;
 }
 
 .token.punctuation {
     color: #ccc;
 }
 
 .token.tag,
 .token.attr-name,
 .token.namespace,
 .token.deleted {
     color: #e2777a;
 }
 
 .token.function-name {
     color: #6196cc;
 }
 
 .token.boolean,
 .token.number,
 .token.function {
     color: #f08d49;
 }
 
 .token.property,
 .token.class-name,
 .token.constant,
 .token.symbol {
     color: #f8c555;
 }
 
 .token.selector,
 .token.important,
 .token.atrule,
 .token.keyword,
 .token.builtin {
     color: #cc99cd;
 }
 
 .token.string,
 .token.char,
 .token.attr-value,
 .token.regex,
 .token.variable {
     color: #7ec699;
 }
 
 .token.operator,
 .token.entity,
 .token.url {
     color: #67cdcc;
 }
 
 .token.important,
 .token.bold {
     font-weight: bold;
 }
 .token.italic {
     font-style: italic;
 }
 
 .token.entity {
     cursor: help;
 }
 
 .token.inserted {
     color: green;
 }
 
