// Colors
$text-color: #929292;
$heading-color: #212121;
$subheading-color: #acacac;
$bg-light: #fafafa;
$bg-dark: #171717;
$light-grey: #a3a3a3;
$border-color: #eaeaea;
$main-color: #23abc4;


// Fonts
$body-font: 'Hind', sans-serif;
$heading-font: 'Poppins', sans-serif;
$alt-font: 'Noto Serif', serif;