<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Neoto | Portfolio HTML Template</title>
  <link href="main.bundle.css" rel="stylesheet" type="text/css">
  <link href="css/custom.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Giga&amp;display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
  <link rel="manifest" href="favicon/site.webmanifest">
  <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#777777">
  <meta name="msapplication-TileColor" content="#999999">
  <meta name="theme-color" content="#999999">
</head>
  <body>
<header class="fixed-top ">
  <div class="navbar"><a class="navbar-brand" href="index.html"> <img class="default" alt="Neoto - Creative Studio Portfolio Template" src="images/logo.svg"><img class="inverted" alt="Neoto - Creative Studio Portfolio Template" src="images/logo-white.svg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"><span class="toggle-label">Menu</span><span class="toggle-label-close">Close</span><span class="toggle-icon"><span class="line"></span><span class="line"></span></span></button>
  </div>
  <ul id="nav">
    <li class="nav-item active"><a class="nav-link" href="index.html">home</a></li>
    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">pages</a>
      <div class="dropdown-menu"><a class="dropdown-item" href="about.html">About</a><a class="dropdown-item" href="services.html">Services</a><a class="dropdown-item" href="404.html">404</a></div>
    </li>
    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">portfolio</a>
      <div class="dropdown-menu"><a class="dropdown-item" href="projects-grid.html">Projects - Grid</a><a class="dropdown-item" href="projects-slider.html">Projects - Slider</a><a class="dropdown-item" href="projects-lightbox.html">Projects - Lightbox</a><a class="dropdown-item" href="project-single.html">Project single</a><a class="dropdown-item" href="project-single-hero.html">Project single - Hero</a><a class="dropdown-item" href="project-single-alt.html">Project single - Alt</a></div>
    </li>
    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">blog</a>
      <div class="dropdown-menu"><a class="dropdown-item" href="blog-slider.html">Blog - Slider</a><a class="dropdown-item" href="blog-grid.html">Blog - Grid</a><a class="dropdown-item" href="blog-single.html">Blog single</a><a class="dropdown-item" href="blog-single-alt.html">Blog single - Alt</a><a class="dropdown-item" href="blog-single-hero.html">Blog single - Hero</a></div>
    </li>
    <li class="nav-item"><a class="nav-link" href="contact.html">contact</a></li>
  </ul>
</header>
    <main>
      <div class="jumbotron jumbotron-fluid vh-100 d-flex align-items-center">
        <div class="container-fluid py-6 text-center">
          <h6 class="in-left">Error 404</h6>
          <h1 class="in-top">Page not found</h1>
        </div>
      </div>
    </main>
    <footer class="fixed-bottom alt-footer">
      <div class="container-fluid p-5">
        <div class="row">
          <div class="col-sm-6 offset-sm-3 copy text-center">2020 &copy; YourBrand. All rights reserved</div>
          <div class="col-sm-3 text-right">
            <div class="social"><a class="trigger" href="#">Follow</a>
              <ul class="social-nav">
                <li> <a href="#">Instagram</a></li>
                <li> <a href="#">Twitter</a></li>
                <li> <a href="#">Vimeo</a></li>
                <li> <a href="#">YouTube</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="main.bundle.js"></script>
  </body>
</html>