<!DOCTYPE html>
<html>
  <head>
    <title>Sylk - The Photographer's Portfolio Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="css/core.css">
    <link rel="stylesheet" type="text/css" href="css/elements.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="icon" type="image/png" href="favicon.png?version=4">
  </head>
  <body>
    <div id="wrapper" class="container-fluid">
      <header id="main-header" class="centered">
        <div class="responsive-nav">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <nav class="main-nav">
          <ul>
            <li><a href="pages/homepages/home-unique-scroll.html" class="active">Home</a>
              <ul class="dropdown">
                <li><a href="pages/homepages/home-unique-scroll.html">Home - Unique scroll</a>
                </li>
                <li><a href="pages/homepages/home-image-stack.html">Home - Image stack</a>
                </li>
                <li><a href="pages/homepages/home-fullscreen.html">Home - Fullscreen</a>
                </li>
                <li><a href="pages/homepages/home-fullscreen-offset.html">Home - Fullscreen offset</a>
                </li>
                <li><a href="pages/homepages/home-fullscreen-border.html">Home - Fullscreen border</a>
                </li>
                <li><a href="pages/homepages/home-hero-variant-1.html">Home - Hero variant 1</a>
                </li>
                <li><a href="pages/homepages/home-hero-variant-2.html">Home - Hero variant 2</a>
                </li>
                <li><a href="pages/homepages/home-sidebar-variant-1.html">Home - Sidebar variant 1</a>
                </li>
                <li><a href="pages/homepages/home-sidebar-variant-2.html">Home - Sidebar variant 2</a>
                </li>
              </ul>
            </li>
            <li><a href="pages/portfolio/portfolio-unique-scroll.html">Portfolio</a>
              <ul class="dropdown">
                <li><a href="pages/portfolio/portfolio-unique-scroll.html">Portfolio - Unique scroll</a>
                </li>
                <li><a href="pages/portfolio/portfolio-classic-2-columns.html">Portfolio Classic - 2 columns</a>
                </li>
                <li><a href="pages/portfolio/portfolio-classic-3-columns.html">Portfolio Classic - 3 columns</a>
                </li>
                <li><a href="pages/portfolio/portfolio-classic-4-columns.html">Portfolio Classic - 4 columns</a>
                </li>
                <li><a href="pages/portfolio/portfolio-masonry.html">Portfolio Masonry - 4 columns</a>
                </li>
                <li><a href="pages/portfolio/portfolio-wide-photo.html">Portfolio - Wide photo</a>
                </li>
                <li><a href="pages/portfolio/portfolio-category-filters.html">Portfolio - Category filters</a>
                </li>
                <li><a href="pages/portfolio/portfolio-titan-slider.html">Portfolio - Titan Slider</a>
                </li>
              </ul>
            </li>
            <li><a href="pages/about/index.html">About</a>
            </li>
            <li><a href="pages/clients/index.html">Clients</a>
            </li>
            <li><a href="pages/contact/index.html">Contact</a>
            </li>
          </ul>
        </nav>
      </header>
      <div class="hero half vcenter border-bottom">
        <div class="container text-center">
          <h1>Sylk</h1>
          <p>The Photographer's Template</p>
        </div>
      </div>
      <section>
        <div class="img-grid col-3 spacious">
          <div class="item-sizer"></div><a href="pages/homepages/home-unique-scroll.html" class="item effect"><img src="images/preview/home-unique.jpg">
                      <div class="caption">Home - Unique</div></a><a href="pages/homepages/home-image-stack.html" class="item effect"><img src="images/preview/home-stack.jpg">
                      <div class="caption">Home - Stack</div></a><a href="pages/homepages/home-fullscreen.html" class="item effect"><img src="images/preview/home-hero.jpg">
                      <div class="caption">Home - Fullscreen</div></a><a href="pages/homepages/home-fullscreen-offset.html" class="item effect"><img src="images/preview/home-hero-offset.jpg">
                      <div class="caption">Home - Fullscreen offset</div></a><a href="pages/portfolio/home-fullscreen-border.html" class="item effect"><img src="images/preview/home-hero-border.jpg">
                      <div class="caption">Home - Fullscreen border</div></a><a href="pages/homepages/home-hero-variant-1.html" class="item effect"><img src="images/preview/home-hero-1.jpg">
                      <div class="caption">Home - Hero variant 1</div></a><a href="pages/homepages/home-hero-variant-2.html" class="item effect"><img src="images/preview/home-hero-2.jpg">
                      <div class="caption">Home - Hero variant 2</div></a><a href="pages/homepages/home-sidebar-variant-1.html" class="item effect"><img src="images/preview/home-sidebar-1.jpg">
                      <div class="caption">Home - Sidebar variant 1</div></a><a href="pages/homepages/home-sidebar-variant-2.html" class="item effect"><img src="images/preview/home-sidebar-2.jpg">
                      <div class="caption">Home - Sidebar variant 2</div></a><a href="pages/portfolio/portfolio-unique-scroll.html" class="item effect"><img src="images/preview/portfolio-unique.jpg">
                      <div class="caption">Portfolio - Unique</div></a><a href="pages/portfolio/portfolio-classic-2-columns.html" class="item effect"><img src="images/preview/portfolio-2-col.jpg">
                      <div class="caption">Portfolio - 2 Columns</div></a><a href="pages/portfolio/portfolio-classic-3-columns.html" class="item effect"><img src="images/preview/portfolio-3-col.jpg">
                      <div class="caption">Portfolio - 3 Columns</div></a><a href="pages/portfolio/portfolio-classic-4-columns.html" class="item effect"><img src="images/preview/portfolio-4-col.jpg">
                      <div class="caption">Portfolio - 4 Columns</div></a><a href="pages/portfolio/portfolio-masonry.html" class="item effect"><img src="images/preview/portfolio-masonry.jpg">
                      <div class="caption">Portfolio - Masonry</div></a><a href="pages/portfolio/portfolio-wide-photo.html" class="item effect"><img src="images/preview/portfolio-wide.jpg">
                      <div class="caption">Portfolio - Wide</div></a><a href="pages/portfolio/portfolio-category-filters.html" class="item effect"><img src="images/preview/portfolio-filter.jpg">
                      <div class="caption">Portfolio - Category Filters</div></a><a href="pages/portfolio/portfolio-titan-slider.html" class="item effect"><img src="images/preview/portfolio-titan-slider.jpg">
                      <div class="caption">Portfolio - Titan Slider</div></a><a href="pages/about/index.html" class="item effect"><img src="images/preview/about.jpg">
                      <div class="caption">About</div></a><a href="pages/clients/index.html" class="item effect"><img src="images/preview/clients.jpg">
                      <div class="caption">Clients</div></a><a href="pages/contact/index.html" class="item effect"><img src="images/preview/contact.jpg">
                      <div class="caption">Contact</div></a>
        </div>
      </section>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/functions.js"></script>
  </body>
</html>