section#Contact.border-bottom.py-6
  .container
    .col-7
      h2 Contact form
      p Usually ThemeVillain's Templates make use of a PHP script to handle email. This is however, a bit outdated and vulnerable way to have a contact form on your site. So from now on, HTML templates will only include markup and styles for forms.
      h3 Formspree.io
      p This is an API (there are many more) that makes it possible to transform your contact form markup into a fully functional and safe one with just one line of code. See <a href="https://formspree.io/" target="_blank">formspree.io</a> for more details.