section#CSS.border-bottom.py-6
  .container
    .col-7
      h2 CSS Structure
      p Neoto's main css file is well-structured. The table of contents is found at the top of the file: main.css, and looks as follows:
      pre.
        /*

          main.css - All the Neoto CSS goodies
          Version 1.0
          by ThemeVillain

          
          00. fonts
          01. variables
          02. helpers
          03. typography
          04. animation
          05. cursor
          06. header
          07. slider
          08. layout
          09. components
          10. elements
          11. responsive
          12. lightbox

        */
      p Although its good to know the structure, you probably want to use a seperate css file for customisation of the template. Don't worry, this one is especially prepared for you!
      h4 Custom CSS
      p To make customisations, a custom.css file already exists and is included in the &lt;head&gt;. All you need to do is add your own nifty styles there.
      h4 Utilities
      p Neoto comes with a bunch of sleeky CSS Helper classes, mostly inherited from Bootstrap so less custom CSS is needed. You can do a lot of visual customisation by only changing the markup! Here's <a href="https://getbootstrap.com/docs/4.5/utilities/borders/" target="_blank">the list</a> to help you get started.