header(class = 'fixed-top '+headerClass)
    .navbar
        a.navbar-brand(href = 'index.html') 
            img.default(src = '../template/images/logo.svg')
            img.inverted(src ='../template/images/logo-white.svg')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar')
            span.toggle-label Menu
            span.toggle-label-close Close
            span.toggle-icon
                span.line
                span.line
    ul#nav
        li.nav-item
            a.nav-link.anchor-link(href = '#HTML') HTML
        li.nav-item
            a.nav-link.anchor-link(href = '#CSS') CSS
        li.nav-item
            a.nav-link.anchor-link(href = '#JS') JS
        li.nav-item
            a.nav-link.anchor-link(href = '#Navigation') Navigation
        li.nav-item
            a.nav-link.anchor-link(href = '#Lightbox') Lightbox
        li.nav-item
            a.nav-link.anchor-link(href = '#Slider') Slider
        li.nav-item
            a.nav-link.anchor-link(href = '#Contact') Form