section#JS.border-bottom.py-6
  .container
    .col-7
      h2 JS
      p All of Neoto's Vanilla Javascript goodies are found in the <strong>src/scripts/</strong> folder.
      h3 cursor.js
      p The custom cursor script
      h3 functions.js
      p All custom scripts and behavior that Neoto has to offer.
      h3 lightbox.js
      p The lightbox script!
      h3 slider.js
      p Uses GlideSlider for all the sliding magic that happens on the front page.
      h3 main.bundle.js
      p The template itself uses all these scripts in 1 bundled file called main.bundle.js. This is makes your page load faster
      h3 Modification
      p If you'd like to modify this main.bundle.js, please make use of Webpack (see README.md)