section#Lightbox.border-bottom.py-6
  .container
    .col-7
      h2 Lightbox
      p What is a portfolio without a lightbox? Exactly: not much. So ThemeVillain took the time to create a lightweight lightbox script from scratch, using vanilla JS. Its like The Flash, but on steroids.
      h3 How do I use it?
      p You will need at least 2 things:
      ul.list
        li A container &lt;div&gt; that holds the lightbox items. Be sure this element has the <i>.gallery</i> class, so you can scroll through the items when lightboxed!
        li Lightbox items inside of it. Using a simple &lt;a&gt; link that refers to the large images using the <strong>href</strong> attribute. Also fon't forget the .lightbox class!
      h3 Structure
      pre.
        &lt;div class="gallery"&gt;
          &lt;a class="lightbox" href="path/to/large-image.jpg?preset=blur"&gt;
            // Thumbnail image here
          &lt;/a&gt;
          ... etc.
        &lt;/div&gt;
      p That's it! You're set.