section#Slider.border-bottom.py-6
  .container
    .col-7
      h2 Slider
      p Awesome isn't it? The slider Neoto uses is based on the popular <a href="https://glidejs.com/" target="_blank">GlideJS Slider</a>. If you'd like to tweak it, feel free to do so by using Webpack 4 (see README.md) and its <a href="https://glidejs.com/docs/" target="_blank">documentation</a>.