section#Start.border-bottom.py-6
  .container
    .col-7
      h1 Documentation
      h2 Foreword
      p.text-size-1 Hello and thank you for purchasing Neoto! Its creator, ThemeVillain is always striving for the best possible quality for its templates and themes. If you encounter bugs or need something special done with your template, please contact support@themevillain.com.
      br
      h3 Tips from a pro
      p Trust me, these are helpful!
      p
        ul.list
          li Never start from scratch.
          li Use the custom.css included to make changes to your styles.
          li Please read these docs carefully before contacting support. You might be helped more quickly.
          li If these docs don&apos;t help with custom, non-template issues, use Google or stackoverflow for your specific problem.
          li Use find and replace all, if you&apos;d like to change more files at once.
          li Contact support@themevillain.com for customisation jobs or bug reports.
      h3 Webpack 4
      p Neoto includes the entire Webpack 4 project that is used to create the template. You can use the README.md to get started.
      h4 Why Webpack?
      p By using webpack, you can develop much faster. Here's some of the features that I used to create Neoto:
      p
        ul.list
          li Pug (template engine to output HTML files)
          li SASS (powerful CSS precompiler)
          li Hot reload (instantly see your changes)
          li Minification and bundling (makes your production code VERY efficient)