<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo:400" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-touch-icon.png?v=M4mANjnP3j2">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png?v=M4mANjnP3j2">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png?v=M4mANjnP3j2">
    <link rel="manifest" href="favicon/site.webmanifest?v=M4mANjnP3j2">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg?v=M4mANjnP3j2" color="#888888">
    <link rel="shortcut icon" href="favicon/favicon.ico?v=M4mANjnP3j2">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <title>Gumo, A Simple Portfolio</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- Main Header-->
      <header class="main-header"><a class="brand" href="/"><img alt="Gumo dummy image" src="img/logo.svg"></a>
        <!-- Main Navigation-->
        <nav class="main-nav">
          <ul class="nav-items">
            <li class="nav-trigger">Menu</li>
            <li><a class="nav-item" href="index.html#work">Work</a></li>
            <li><a class="nav-item" href="index.html#about">About</a></li>
            <li><a class="nav-item" href="blog.html">Blog</a></li>
            <li><a class="nav-item" href="index.html#contact">Hire me</a></li>
          </ul>
        </nav>
      </header>
      <div class="content">
        <!-- Home section-->
        <section class="hero" id="home">
          <div class="container text-center">
            <h3>Fashion evolved</h3>
            <h1>The grime state</h1>
            <div class="pv-5"><img src="img/blog/2.jpg"></div>
          </div>
          <div class="container">
            <div class="grid v-center h-center">
              <div class="col-6 col-md-10 col-sm-12">
                <h3>It all began with one word</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quisquam voluptas reprehenderit expedita animi, ipsa unde quam natus aperiam tempore consectetur laborum eum sint a quae exercitationem, beatae, facilis corporis!Ipsa laudantium fugit voluptates accusantium libero optio autem quos nam nisi temporibus tempore, neque voluptatibus. Labore aspernatur, animi tenetur mollitia cupiditate possimus quidem molestiae in ex repudiandae voluptates fuga reiciendis!</p><img class="mv-2" src="img/blog/4.jpg">
                <h5>The perfect way to go</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quisquam voluptas reprehenderit expedita animi, ipsa unde quam natus aperiam tempore consectetur laborum eum sint a quae exercitationem, beatae, facilis corporis!Ipsa laudantium fugit voluptates accusantium libero optio autem quos nam nisi temporibus tempore, neque voluptatibus. Labore aspernatur, animi tenetur mollitia cupiditate possimus quidem molestiae in ex repudiandae voluptates fuga reiciendis!</p>
                <blockquote class="mv-5">
                  <div class="text">A place full of creativity, but if you can't pay you can't play.</div>
                  <div class="author color-dark">Aaron Lumen</div>
                </blockquote>
                <h5>The supremacy is here</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quisquam voluptas reprehenderit expedita animi, ipsa unde quam natus aperiam tempore consectetur laborum eum sint a quae exercitationem, beatae, facilis corporis!Ipsa laudantium fugit voluptates accusantium libero optio autem quos nam nisi temporibus tempore, neque voluptatibus. Labore aspernatur, animi tenetur mollitia cupiditate possimus quidem molestiae in ex repudiandae voluptates fuga reiciendis!</p>
                <h5>Never settle for less</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quisquam voluptas reprehenderit expedita animi, ipsa unde quam natus aperiam tempore consectetur laborum eum sint a quae exercitationem, beatae, facilis corporis!Ipsa laudantium fugit voluptates accusantium libero optio autem quos nam nisi temporibus tempore, neque voluptatibus. Labore aspernatur, animi tenetur mollitia cupiditate possimus quidem molestiae in ex repudiandae voluptates fuga reiciendis!</p>
              </div>
            </div>
          </div>
          <div class="container mv-5 text-center">
            <h3 class="mb-2">Relevant articles</h3>
            <div class="grid gallery v-center h-center"><a class="leisure thumb item col-4 col-md-6 col-xs-12" href="blog-single.html"><img alt="Gumo dummy image" src="img/blog/1.jpg"/>
                <div class="caption">
                  <div class="tag">Be always prepared</div>
                  <div class="title">Working abroad</div>
                </div></a><a class="fashion thumb item col-4 col-md-6 col-xs-12" href="blog-single.html"><img alt="Gumo dummy image" src="img/blog/3.jpg"/>
                <div class="caption">
                  <div class="tag">From the hood</div>
                  <div class="title">Stakes is High</div>
                </div></a>
            </div>
          </div>
          <div class="container mv-5">
            <div class="grid v-center h-center">
              <div class="col-6 col-md-10 col-sm-12 pt-4">
                <ul class="comments">
                  <li class="comment">
                                    <div class="author">
                                      <figure class="author-avatar"><img alt="Nevo example image" src="img/blog/ava4.png"></figure>
                                      <div class="comment-info">
                                        <div class="author-name">Soraya</div>
                                        <div class="comment-date">June 21 2016</div>
                                      </div>
                                    </div>
                                    <div class="comment-body">
                                      <p>Many people sign up for affiliate programs with the hopes of making some serious money. They advertise a few places and then wait for the money to start pouring in. When it doesn’t, they blame it on the program and quit.</p>
                                    </div>
                    <ul class="comments">
                      <li class="comment">
                                        <div class="author">
                                          <figure class="author-avatar"><img alt="Nevo example image" src="img/blog/ava2.png"></figure>
                                          <div class="comment-info">
                                            <div class="author-name">Kaj</div>
                                            <div class="comment-date">June 23 2016</div>
                                          </div>
                                        </div>
                                        <div class="comment-body">
                                          <p>There is such a lot of talk going around about branding, but what exactly is your brand and how do you use it to help you reach more people and market your products or services? Your brand is the core of your marketing, the central theme around your products and services.</p>
                                        </div>
                      </li>
                    </ul>
                  </li>
                  <li class="comment">
                                    <div class="author">
                                      <figure class="author-avatar"><img alt="Nevo example image" src="img/blog/ava3.png"></figure>
                                      <div class="comment-info">
                                        <div class="author-name">Ian</div>
                                        <div class="comment-date">June 24 2016</div>
                                      </div>
                                    </div>
                                    <div class="comment-body">
                                      <p>Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in front of their desktops, while delivery people scan bar codes with handhelds and workers in the field stay in touch.</p>
                                    </div>
                  </li>
                  <li class="comment">
                                    <div class="author">
                                      <figure class="author-avatar"><img alt="Nevo example image" src="img/blog/ava1.png"></figure>
                                      <div class="comment-info">
                                        <div class="author-name">Lenny</div>
                                        <div class="comment-date">June 25 2016</div>
                                      </div>
                                    </div>
                                    <div class="comment-body">
                                      <p>If you’re having trouble getting motivated or if you haven’t even got off the starting block yet, this article could change your life!</p>
                                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="grid v-center h-center">
              <div class="col-6 col-md-10 col-sm-12 pt-4">
                <h3>Comment on this article</h3>
                <form class="pt-2" action="/">
                  <div class="grid">
                    <div class="col-6 col-sm-12">
                      <label>Name</label>
                      <input type="text" placeholder="Your name">
                    </div>
                    <div class="col-6 col-sm-12">
                      <label>Email</label>
                      <input type="email" placeholder="email@address.com">
                    </div>
                  </div>
                  <div class="grid">
                    <div class="col-12">
                      <label>Your message</label>
                      <textarea placeholder="Wow Jeff, what an artice! ... "></textarea>
                      <button class="btn" type="submit">Place comment</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="pv-3">
        <div class="grid v-center">
          <div class="col-6"><span class="text-dark">Designed and built by <a href='http://www.themevillain.com' target='_blank'>ThemeVillain</a> &copy; 2019. </span><span class="text-light">Work by <a href='http://www.behance.net/david_sossella' target='_blank'>David Sossella</a></span></div>
          <div class="col-6 text-right">
            <ul class="secondary-nav">
              <li><a href="#">Behance</a></li>
              <li><a href="#">Artstation</a></li>
              <li><a href="#">LinkedIn</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    <!-- Scripts-->
    <script src="scripts/isotope.pkgd.min.js"></script>
    <script src="scripts/imagesloaded.pkgd.min.js"></script>
    <script src="scripts/gumo-lightbox.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>