<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo:400" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-touch-icon.png?v=M4mANjnP3j2">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png?v=M4mANjnP3j2">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png?v=M4mANjnP3j2">
    <link rel="manifest" href="favicon/site.webmanifest?v=M4mANjnP3j2">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg?v=M4mANjnP3j2" color="#888888">
    <link rel="shortcut icon" href="favicon/favicon.ico?v=M4mANjnP3j2">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <title>Gumo, A Simple Portfolio</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- Main Header-->
      <header class="main-header"><a class="brand" href="/"><img alt="Gumo dummy image" src="img/logo.svg"></a>
        <!-- Main Navigation-->
        <nav class="main-nav">
          <ul class="nav-items">
            <li class="nav-trigger">Menu</li>
            <li><a class="nav-item" href="index.html#work">Work</a></li>
            <li><a class="nav-item" href="index.html#about">About</a></li>
            <li><a class="nav-item" href="blog.html">Blog</a></li>
            <li><a class="nav-item" href="index.html#contact">Hire me</a></li>
          </ul>
        </nav>
      </header>
      <div class="content">
        <!-- Home section-->
        <section class="hero" id="home">
          <div class="container text-center">
            <h1>Give your innovative project a kickstart with illustrations by Jeff Gumo. Praised by top tier companies such as <a href="#">Abble</a>, <a href="#">Murdoc</a> &amp; <a href="#">others</a>. </h1>
          </div>
        </section>
        <!-- Work section-->
        <section id="work">
          <div class="grid pb-2">
            <div class="col-3 col-md-9 col-sm-12 d-flex v-center">
              <h6>Projects</h6>
            </div>
            <div class="col-9 col-md-3 col-sm-12 text-right grid v-bottom h-right">
              <ul class="secondary-nav filters">
                <li class="filter-trigger">Filter</li>
                <li><a class="filter active" href="*">All</a></li>
                <li><a class="filter" href=".personal">Personal</a></li>
                <li><a class="filter" href=".collaboration">Collaboration</a></li>
                <li><a class="filter" href=".client-work">Client work</a></li>
              </ul>
            </div>
          </div>
          <div class="grid masonry gallery">
            <div class="item-sizer col-4 col-md-6 col-xs-12"></div><a class="client-work thumb item col-4 col-md-6 col-xs-12" href="single.html"><img alt="Gumo dummy image" src="img/work/luxoft/thumb-wide.jpg"/>
              <div class="caption">
                <div class="tag">Game Co.</div>
                <div class="title">Luxoft</div>
              </div></a><a class="personal thumb item col-4 col-md-6 col-xs-12" href="single.html"><img alt="Gumo dummy image" src="img/work/second-series/thumb-tall.jpg"/>
              <div class="caption">
                <div class="tag">Labada Inc.</div>
                <div class="title">Second Series</div>
              </div></a><a class="client-work thumb item col-4 col-md-6 col-xs-12" href="single.html"><img alt="Gumo dummy image" src="img/work/vehicles/thumb-wide.jpg"/>
              <div class="caption">
                <div class="tag">Game Co.</div>
                <div class="title">Vehicles</div>
              </div></a><a class="personal thumb item col-4 col-md-6 col-xs-12" href="single.html"><img alt="Gumo dummy image" src="img/work/the-tiger-and-the-dragon/thumb-tall.jpg"/>
              <div class="caption">
                <div class="tag">Game Co.</div>
                <div class="title">The Tiger and the Dragon</div>
              </div></a><a class="personal thumb item col-4 col-md-6 col-xs-12" href="single.html"><img alt="Gumo dummy image" src="img/work/flying-crocodile/thumb-tall.jpg"/>
              <div class="caption">
                <div class="tag">Street 67 Ltd.</div>
                <div class="title">Flying Crocodile</div>
              </div></a><a class="collaboration thumb item col-4 col-md-6 col-xs-12" href="single.html"><img alt="Gumo dummy image" src="img/work/tasteful/thumb-wide.jpg"/>
              <div class="caption">
                <div class="tag">Labada Inc.</div>
                <div class="title">Tasteful</div>
              </div></a>
          </div>
        </section>
        <!-- About section-->
        <section class="pb-0" id="about">
          <div class="container">
            <div class="grid h-center v-center">
              <div class="col-6 col-sm-12"><img alt="Gumo dummy image" src="img/profile.jpg"></div>
              <div class="col-5 col-sm-12 offset-1">
                <h2>They call him ...</h2>
                <h3>The ninja who breathes colors</h3>
                <p>Jeff is the kind of dude who always explores new ways to deliver creativity in a meaningful way. Vel perspiciatis qui uscipit quae distinctio illo accusantium autem nulla dolor numquam aperiam, vel perspiciatis qui. Magni itaque distinctio.</p>
              </div>
            </div>
          </div>
        </section>
        <section class="pv-8">
          <div class="container">
            <div class="grid h-center">
              <blockquote class="text-center col-6 col-md-10">
                <div class="text">Learn the rules like a pro, so you can break them like an artist.</div>
                <div class="author color-dark">Pablo Picasso</div>
              </blockquote>
            </div>
          </div>
        </section>
        <!-- Contact section-->
        <section class="border-top pv-8" id="contact">
          <div class="container">
            <div class="grid v-center h-center">
              <div class="col-6 col-md-10 col-sm-12">
                <h2>Hire Jeff</h2>
                <h3>Make things work like magic</h3>
                <p>Just a flash away from top quality illustrations. Ask him anything!</p>
                <form class="pt-4" action="/">
                  <div class="grid">
                    <div class="col-6 col-sm-12">
                      <label>Name</label>
                      <input type="text" placeholder="John, maybe?">
                    </div>
                    <div class="col-6 col-sm-12">
                      <label>Email</label>
                      <input type="email" placeholder="maybe.john@example.com">
                    </div>
                  </div>
                  <div class="grid">
                    <div class="col-12">
                      <label>Message</label>
                      <textarea placeholder="Hey Jeff! I am John, maybe ... "></textarea>
                      <button class="btn" type="submit">Send</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="pv-3">
        <div class="grid v-center">
          <div class="col-6"><span class="text-dark">Designed and built by <a href='http://www.themevillain.com' target='_blank'>ThemeVillain</a> &copy; 2019. </span><span class="text-light">Work by <a href='http://www.behance.net/david_sossella' target='_blank'>David Sossella</a></span></div>
          <div class="col-6 text-right">
            <ul class="secondary-nav">
              <li><a href="#">Behance</a></li>
              <li><a href="#">Artstation</a></li>
              <li><a href="#">LinkedIn</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    <!-- Scripts-->
    <script src="scripts/isotope.pkgd.min.js"></script>
    <script src="scripts/imagesloaded.pkgd.min.js"></script>
    <script src="scripts/gumo-lightbox.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>