<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo:400" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-touch-icon.png?v=M4mANjnP3j2">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png?v=M4mANjnP3j2">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png?v=M4mANjnP3j2">
    <link rel="manifest" href="favicon/site.webmanifest?v=M4mANjnP3j2">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg?v=M4mANjnP3j2" color="#888888">
    <link rel="shortcut icon" href="favicon/favicon.ico?v=M4mANjnP3j2">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <title>Single Page — Gumo, A Simple Portfolio</title>
  </head>
  <body class="bg-black color-light">
    <div class="wrapper">
      <!-- Main Header-->
      <header class="main-header"><a class="brand" href="/"><img alt="Gumo dummy image" src="img/logo.svg"></a>
        <!-- Main Navigation-->
        <nav class="main-nav">
          <ul class="nav-items">
            <li class="nav-trigger">Menu</li>
            <li><a class="nav-item" href="index.html#work">Work</a></li>
            <li><a class="nav-item" href="index.html#about">About</a></li>
            <li><a class="nav-item" href="blog.html">Blog</a></li>
            <li><a class="nav-item" href="index.html#contact">Hire me</a></li>
          </ul>
        </nav>
      </header>
      <div class="content">
        <!-- Home section-->
        <section class="hero" id="home">
          <div class="container grid h-center">
            <div class="col-6 col-md-10 col-sm-12 text-center">
              <h4>Labada Inc.</h4>
              <h1>Gusto Robusto</h1>
              <p>In a better world everybody lives off his own passion being able to add something beautiful to the world and your life. Gusto Robusto’s contribution to this mission is producing digital artworks printed in limited edition.</p>
            </div>
          </div>
        </section>
        <section> 
          <div class="container text-center"><img alt="Gumo dummy image" src="img/work/tasteful/12.jpg">
            <div class="mv-2"></div><img alt="Gumo dummy image" src="img/work/tasteful/10.jpg">
            <div class="mv-2"></div><img alt="Gumo dummy image" src="img/work/tasteful/3.jpg">
            <div class="mv-2"></div><img alt="Gumo dummy image" src="img/work/tasteful/5.jpg">
            <div class="mv-2"></div><img alt="Gumo dummy image" src="img/work/tasteful/6.jpg">
            <div class="mv-2"></div><img alt="Gumo dummy image" src="img/work/tasteful/7.jpg">
            <div class="mv-2"></div><img alt="Gumo dummy image" src="img/work/tasteful/8.jpg">
            <div class="mv-2"></div><img alt="Gumo dummy image" src="img/work/tasteful/9.jpg">
            <div class="mv-2"></div><img alt="Gumo dummy image" src="img/work/tasteful/1.jpg">
          </div>
        </section>
        <!-- Contact section-->
        <section class="border-top pv-8" id="contact">
          <div class="container">
            <div class="grid v-center h-center">
              <div class="col-6 col-md-10 col-sm-12">
                <h2>Hire Jeff</h2>
                <h3>Make things work like magic</h3>
                <p>Just a flash away from top quality illustrations. Ask him anything!</p>
                <form class="pt-4" action="/">
                  <div class="grid">
                    <div class="col-6 col-sm-12">
                      <label>Name</label>
                      <input type="text" placeholder="John, maybe?">
                    </div>
                    <div class="col-6 col-sm-12">
                      <label>Email</label>
                      <input type="email" placeholder="maybe.john@example.com">
                    </div>
                  </div>
                  <div class="grid">
                    <div class="col-12">
                      <label>Message</label>
                      <textarea placeholder="Hey Jeff! I am John, maybe ... "></textarea>
                      <button class="btn" type="submit">Send</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="pv-3">
        <div class="grid v-center">
          <div class="col-6"><span class="text-dark">Designed and built by <a href='http://www.themevillain.com' target='_blank'>ThemeVillain</a> &copy; 2019. </span><span class="text-light">Work by <a href='http://www.behance.net/david_sossella' target='_blank'>David Sossella</a></span></div>
          <div class="col-6 text-right">
            <ul class="secondary-nav">
              <li><a href="#">Behance</a></li>
              <li><a href="#">Artstation</a></li>
              <li><a href="#">LinkedIn</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    <!-- Scripts-->
    <script src="scripts/isotope.pkgd.min.js"></script>
    <script src="scripts/imagesloaded.pkgd.min.js"></script>
    <script src="scripts/gumo-lightbox.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>